.render-nav-links {
  nav {
    width: 100%;
  }
  .pagination {
    @include flex-center(flex, center, center);
    & > div:nth-of-type(1) {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
    }
    & div {
      width: 100%;
      &:nth-of-type(1) > button:nth-of-type(n+2) {
        margin-left: 0.5rem;
      }
    }
  }

}