.nav-tab-menu {
  padding: 0 0.85rem;
  display: flex;
  list-style: none;
  .active {
    background-color: white !important;
    color: $primary-color !important;
    position: relative;
    &::before {
      @include create-before(100%, 4px, -4px, 0, null, 0, $primary-color)
    }
  }
  a {
    color: white !important;
    background-color: $light-dark;
  }
}