.search-inventory {
  h2 > svg {
    margin: 0 0.50rem 0.30rem 0;
  }


  .call-banner {
    margin: 0 0.05rem;
    @include flex-center(flex, center, center);
    padding: 5rem 0.45rem;
    color: white;
    background-color: #fab637;
    font-size: 2rem;
    svg {
      margin-bottom: 0.30rem;
    }
  }
}