.search-options {
  margin-top: -3rem;
  z-index: 50;


  form {
    user-select: none;
    box-shadow: 0 5px 18px rgba(0,0,0,.18);
    & > div:first-child {
      background-color: $dark-color;
      color: white;
      svg {
        margin: 0 0.50rem 0.30rem 0;
      }
    }
  }
}

.search-inventory .col-md-6 div,
.search-options .col-md-6 div {
  user-select: none;
  .title {
    cursor: pointer;
    & svg {
      margin-bottom: 0.25rem;
    }
  }
  .selected {
    padding: 0.5rem;
  }
  .not-selected {
    padding: 0.5rem 0.5rem 0;
    & > span:first-of-type {
      cursor: pointer;
      &:hover {
        color: $light-blue;
      }
    }
  }
  .not-selected:last-of-type {
    padding-bottom: 0.5rem;
  }
  & .title,
  .not-selected,
  .selected {
    @include flex-center(flex, space-between, center);
  }
  & .options {
    position: relative;
    & > div {
      background-color: #dfe2e7;
      z-index: 100;
      position: absolute;
      width: 100%;
    }
  }
}