.welcome {
  background-color: $dark-color;
  h2 > span:last-child {
    color: $primary-color;
  }
}

.image-background {
  background : url("/images/background/lexusBackground.jpeg") no-repeat center center;
  background-size: cover;
}

// Main Listing

ul,
ol {
  list-style: none;
}

a:focus,
button:focus {
  box-shadow: none !important;
}

.home-listing,
.home-carousel-listing {
  .car-info {
    display: flex;
    justify-content: space-between;
    &::before {
      @include create-before(80%, 1px, null, null, 0, 10%, $light-grey);
    }
  }
  .price {

  }
  .car-info + div {
    svg {
      margin: 0 0 0.25rem 0.25rem;
    }
  }
}

.home-listing .price,
.home-carousel-listing .price,
.compare-column .price {
  @include background-spacing($light-blue, white, 0.15rem, null, relative);
  z-index: 10;
  &::before {
    @include create-before(1rem, 2rem, 0, null, null, -0.5rem, $light-blue);
    transform: skew(-25deg, 0deg);
    z-index: -1;
  }
}