.inventory {
  .v-available {
    font-size: larger;
    white-space: nowrap;
    span:first-of-type {
      color: $primary-color;
      font-weight: bold;
    }
  }

  select {
    background-color: $light-silver;
  }
  .filter-search-icon{
    svg {
      color: $light-grey;
      &:hover {
        color: black;
        cursor: pointer;
      }
    }
    svg:first-child {
      margin-right: 0.75rem;
    }
  }

  & .sort-inventory {
    & > div[class^="bg-light"] {
      width: 10rem;
      @include flex-center(flex,space-between, center)
    }
  }

  .additional-search {
    user-select: none;
    & > div:first-of-type {
      box-shadow: 0 2px 5px rgba(0,0,0,.18);
    }
    & > div:first-of-type,
    .each > span {
      cursor: pointer;
      font-size: 0.90rem;
    }
    .each:hover {
      color: $light-blue;
    }
    & > div:first-of-type > div:first-of-type > div {
      align-self: center;
      margin: 0 0 0 0.50rem;
      border-radius: 50%;
      display: inline-block;
      @include height-width(1rem, 1rem);
    }
    & > div:first-of-type > div:last-of-type {
      font-size: 1.5rem;
      margin-top: -0.4rem;
      margin-bottom: -0.3rem;
    }
    ul {
      padding: 0.50rem 1rem;
      li svg {
        margin: 0 0.30rem 0.20rem 0;
      }
      li {
        @include flex-center(flex, space-between, center)
      }
    }
  }

  .options-selected {
    font-size: 0.80rem;
    box-shadow: 0 1px 3px rgba(59,62,68,.3);
    & > div:nth-of-type(2):hover {
      cursor: pointer;
    }
  }

}

.trade-in .img,
.inventory .img {
  & {
    background-size: cover;
    background: rgba(0,0,0,0.5);
    position: relative;
    height: 10rem;
    h2 {
      position: relative;
      top: 22%;
    }
    &::after {
      content: "";
      background: url('/images/background/backgroundNightHighway.jpeg') center;
      background-size: cover;
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  }
}