// 576 and less
@media only screen and (max-width: 576px) {
  .nav-tab-menu {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer div div:nth-of-type(n+2)::before {
    @include create-before(80%, 1px, 0, null, null, 10%, $light-grey);
  }

  .image-background {
    height: 30vh;
  }

  .compare .compare-column {
    td:first-of-type {
      display: table-cell;
    }
  }

}




//higher 577 up
@media only screen and (min-width: 576px) {
  .footer div div:nth-of-type(n+2)::before {
    @include create-before(1px, 80%, null, null, 10%, 0, $light-grey);
  }

  .image-background {
    height: 50vh;
  }

  .compare .compare-column {
    td:first-of-type {
      display: none;
    }
  }
}





@media only screen and (max-width: 767px) {
  .why-us [class^='col']:nth-of-type(n+2)::before {
    @include create-before(70%, 1px, 0, null, null, 15%, $light-grey);
  }


  .individual-car-page .features-tab .contact-form > div:first-of-type ::before {
    @include create-before(80%, 1px, null, null, 0, 10%, $light-grey);
  }

  .car-listing-vertical {
    .car-info {
      padding-left: 1rem;
      padding-right: 1rem;
      & .col-md {
        border-bottom: 1px solid $light-grey;
        & div {
          padding-bottom: 0.4rem;
          padding-top: 0.65rem;
          display: inline-block;
        }
      }
    }
  }
}







@media only screen and (min-width: 768px) {
  .why-us > div:nth-of-type(2) > div:nth-of-type(n+2)::before {
    @include create-before(1px, 60%, null, null, 20%, 0, $light-grey);
  }

  .individual-car-page .features-tab .contact-form > div:first-of-type ::before {
    @include create-before(1px, 80%, null, 0, 10%, null, $light-grey);
  }

  .car-info .col-md:nth-of-type(-1n+3) > .icon-info {
    border-right: 1px solid $light-grey;
  }

  .image-background {
    height: 75vh !important;
  }

}
