.navigation {
  .address {
    font-weight: lighter;
    svg {
      vertical-align: 0 !important;
    }
  }
  .phone {
    font-weight: lighter;
  }
  ul {
    margin: 0;
  }

  ul:last-of-type {
    svg,
    a span {
      color: rgba(0,0,0,0.5);
    }
    a:hover {
      background-color: white;

    }
    .active {
      color: rgba(0,0,0,0.5) !important;
      svg {
        color: rgba(0,0,0,0.5);;
      }
      background-color: #f8f9fa;
    }
  }

  .counter {
    @include height-width(1.3rem, 1.3rem);
    background-color: $light-blue;
    line-height: 1.3;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
    border-radius: 50%;
  }

}