.trade-in {
  .num {
    @include height-width(2rem, 2rem);
    line-height: 1.5;
    border: 0.2rem solid $primary-color;
    color: $primary-color;
  }
}

.font-90 {
  font-size: 0.90rem;
}

.bg-prime {
  background-color: $primary-color;
}

.pointer {
  cursor: pointer;
}

.border-bottom-5 {
  border-bottom: 0.5rem solid $light-grey;
}

.border-prime {
  border-color: $primary-color;
}