@import "variables";
@import "mixins";
@import "mediaqueries";
@import "reusable/navigation";
@import "homepage";
@import "homepage/footer";
@import "reusable/socialmedialinks";
@import "homepage/whyus";
@import "homepage/backgroundsellbuy";
@import "homepage/specialscarousel";
@import "homepage/renderLinks";
@import "inventory";
@import "inventory/searchoptions";
@import "inventory/carlistingvertical";
@import "reusable/navlinks";
@import "individualcarpage";
@import "homepage/searchinventory";
@import "navigation";
@import "reusable/fullpagemodal";
@import "compare";
@import "reusable/snackbar";

* {
  margin: 0; padding: 0; box-sizing: border-box;
}

.btn-primary {
  background-color: $light-blue;
  border-color: $light-blue;
}

button:focus {
  box-shadow: none !important;
}

a:hover {
  text-decoration: none;
}

a {
  color: black;
}

.bg-grey {
  background-color: #e0e2e8;
}