@import "variables";
@import "mixins";
@import "mediaqueries";
@import "reusable/navigation";
@import "homepage";
@import "homepage/footer";
@import "reusable/socialmedialinks";
@import "homepage/whyus";
@import "homepage/backgroundsellbuy";
@import "homepage/specialscarousel";
@import "homepage/renderLinks";
@import "inventory";
@import "inventory/searchoptions";
@import "inventory/carlistingvertical";
@import "reusable/navlinks";
@import "individualcarpage";
@import "homepage/searchinventory";
@import "navigation";
@import "reusable/fullpagemodal";
@import "compare";
@import "reusable/snackbar";

* {
  margin: 0; padding: 0; box-sizing: border-box;
}

.btn-primary {
  background-color: $light-blue;
  border-color: $light-blue;
}

button:focus {
  box-shadow: none !important;
}

a:hover {
  text-decoration: none;
}

a {
  color: black;
}

.bg-grey {
  background-color: #e0e2e8;
}

//Loader
.wrapper {
  height: 100vh !important;
}

.loader {
  border: 15px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid black;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 750ms linear infinite; /* Safari */
  animation: spin 750ms linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
