@media only screen and (max-width: 576px) {
  .nav-tab-menu {
    flex-wrap: wrap;
    flex-direction: column; }
  .footer div div:nth-of-type(n+2)::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    top: 0;
    left: 10%;
    background-color: #ccc; }
  .image-background {
    height: 30vh; }
  .compare .compare-column td:first-of-type {
    display: table-cell; } }

@media only screen and (min-width: 576px) {
  .footer div div:nth-of-type(n+2)::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 80%;
    bottom: 10%;
    left: 0;
    background-color: #ccc; }
  .image-background {
    height: 50vh; }
  .compare .compare-column td:first-of-type {
    display: none; } }

@media only screen and (max-width: 767px) {
  .why-us [class^='col']:nth-of-type(n+2)::before {
    content: '';
    position: absolute;
    width: 70%;
    height: 1px;
    top: 0;
    left: 15%;
    background-color: #ccc; }
  .individual-car-page .features-tab .contact-form > div:first-of-type ::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: 0;
    left: 10%;
    background-color: #ccc; }
  .car-listing-vertical .car-info {
    padding-left: 1rem;
    padding-right: 1rem; }
    .car-listing-vertical .car-info .col-md {
      border-bottom: 1px solid #ccc; }
      .car-listing-vertical .car-info .col-md div {
        padding-bottom: 0.4rem;
        padding-top: 0.65rem;
        display: inline-block; } }

@media only screen and (min-width: 768px) {
  .why-us > div:nth-of-type(2) > div:nth-of-type(n+2)::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 60%;
    bottom: 20%;
    left: 0;
    background-color: #ccc; }
  .individual-car-page .features-tab .contact-form > div:first-of-type ::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 80%;
    right: 0;
    bottom: 10%;
    background-color: #ccc; }
  .car-info .col-md:nth-of-type(-1n+3) > .icon-info {
    border-right: 1px solid #ccc; }
  .image-background {
    height: 75vh !important; } }

.navbar svg {
  color: #cc601a; }

.navbar span {
  color: white; }

.navbar .d-md-block span:first-child {
  margin-bottom: -7px; }

.navbar button {
  background-color: transparent; }

.navbar .nav-link:hover,
.navbar .active {
  background-color: #cc601a;
  color: white !important; }

.bg-black {
  background-color: #242629; }

.welcome {
  background-color: #242629; }
  .welcome h2 > span:last-child {
    color: #cc601a; }

.image-background {
  background: url("/images/background/lexusBackground.jpeg") no-repeat center center;
  background-size: cover; }

ul,
ol {
  list-style: none; }

a:focus,
button:focus {
  box-shadow: none !important; }

.home-listing .car-info,
.home-carousel-listing .car-info {
  display: flex;
  justify-content: space-between; }
  .home-listing .car-info::before,
  .home-carousel-listing .car-info::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: 0;
    left: 10%;
    background-color: #ccc; }

.home-listing .car-info + div svg,
.home-carousel-listing .car-info + div svg {
  margin: 0 0 0.25rem 0.25rem; }

.home-listing .price,
.home-carousel-listing .price,
.compare-column .price {
  background-color: #6c98e1;
  color: white;
  padding: 0.15rem;
  position: relative;
  z-index: 10; }
  .home-listing .price::before,
  .home-carousel-listing .price::before,
  .compare-column .price::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 0;
    left: -0.5rem;
    background-color: #6c98e1;
    transform: skew(-25deg, 0deg);
    z-index: -1; }

.footer {
  color: white;
  font-size: 0.80rem; }
  .footer h6 {
    margin-bottom: 1rem; }
  .footer span {
    color: #ccc;
    font-weight: bold; }

.social-media svg:hover {
  cursor: pointer;
  color: #6c98e1; }

.social-media svg:nth-child(n+2) {
  margin-left: 0.50rem; }

.why-us svg {
  color: #cc601a; }

.background-sell-buy {
  background: url("/images/background/mercedezbackground.jpeg") fixed;
  background-size: cover;
  height: 70vh; }
  .background-sell-buy .col-md-8 {
    background-color: rgba(204, 96, 26, 0.7); }
    .background-sell-buy .col-md-8:hover {
      background-color: #cc601a; }
    .background-sell-buy .col-md-8 h2 {
      font-weight: bold; }
    .background-sell-buy .col-md-8 span {
      color: white; }

.home-carousel-listing {
  color: white !important; }
  .home-carousel-listing > div {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 1rem; }
  .home-carousel-listing img {
    margin-bottom: 0.75rem; }

.nav-controls .dots {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0.5rem;
  position: relative;
  top: 1px; }
  .nav-controls .dots .dot {
    display: block;
    float: left;
    padding: 4px; }
    .nav-controls .dots .dot span {
      display: block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #cccccc; }

.nav-controls button {
  background-color: transparent;
  color: #ccc;
  border: 3px solid transparent; }
  .nav-controls button:hover {
    color: #6c98e1;
    border-color: #6c98e1; }

.nav-tab-menu {
  padding: 0 0.85rem;
  display: flex;
  list-style: none; }
  .nav-tab-menu .active {
    background-color: white !important;
    color: #cc601a !important;
    position: relative; }
    .nav-tab-menu .active::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      top: -4px;
      right: 0;
      left: 0;
      background-color: #cc601a; }
  .nav-tab-menu a {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.1); }

.inventory .v-available {
  font-size: larger;
  white-space: nowrap; }
  .inventory .v-available span:first-of-type {
    color: #cc601a;
    font-weight: bold; }

.inventory select {
  background-color: #f8f9fa; }

.inventory .filter-search-icon svg {
  color: #ccc; }
  .inventory .filter-search-icon svg:hover {
    color: black;
    cursor: pointer; }

.inventory .filter-search-icon svg:first-child {
  margin-right: 0.75rem; }

.inventory .sort-inventory > div[class^="bg-light"] {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.inventory .additional-search {
  user-select: none; }
  .inventory .additional-search > div:first-of-type {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18); }
  .inventory .additional-search > div:first-of-type,
  .inventory .additional-search .each > span {
    cursor: pointer;
    font-size: 0.90rem; }
  .inventory .additional-search .each:hover {
    color: #6c98e1; }
  .inventory .additional-search > div:first-of-type > div:first-of-type > div {
    align-self: center;
    margin: 0 0 0 0.50rem;
    border-radius: 50%;
    display: inline-block;
    height: 1rem !important;
    width: 1rem; }
  .inventory .additional-search > div:first-of-type > div:last-of-type {
    font-size: 1.5rem;
    margin-top: -0.4rem;
    margin-bottom: -0.3rem; }
  .inventory .additional-search ul {
    padding: 0.50rem 1rem; }
    .inventory .additional-search ul li svg {
      margin: 0 0.30rem 0.20rem 0; }
    .inventory .additional-search ul li {
      display: flex;
      justify-content: space-between;
      align-items: center; }

.inventory .options-selected {
  font-size: 0.80rem;
  box-shadow: 0 1px 3px rgba(59, 62, 68, 0.3); }
  .inventory .options-selected > div:nth-of-type(2):hover {
    cursor: pointer; }

.trade-in .img,
.inventory .img {
  background-size: cover;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  height: 10rem; }
  .trade-in .img h2,
  .inventory .img h2 {
    position: relative;
    top: 22%; }
  .trade-in .img::after,
  .inventory .img::after {
    content: "";
    background: url("/images/background/backgroundNightHighway.jpeg") center;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }

.search-options {
  margin-top: -3rem;
  z-index: 50; }
  .search-options form {
    user-select: none;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.18); }
    .search-options form > div:first-child {
      background-color: #242629;
      color: white; }
      .search-options form > div:first-child svg {
        margin: 0 0.50rem 0.30rem 0; }

.search-inventory .col-md-6 div,
.search-options .col-md-6 div {
  user-select: none; }
  .search-inventory .col-md-6 div .title,
  .search-options .col-md-6 div .title {
    cursor: pointer; }
    .search-inventory .col-md-6 div .title svg,
    .search-options .col-md-6 div .title svg {
      margin-bottom: 0.25rem; }
  .search-inventory .col-md-6 div .selected,
  .search-options .col-md-6 div .selected {
    padding: 0.5rem; }
  .search-inventory .col-md-6 div .not-selected,
  .search-options .col-md-6 div .not-selected {
    padding: 0.5rem 0.5rem 0; }
    .search-inventory .col-md-6 div .not-selected > span:first-of-type,
    .search-options .col-md-6 div .not-selected > span:first-of-type {
      cursor: pointer; }
      .search-inventory .col-md-6 div .not-selected > span:first-of-type:hover,
      .search-options .col-md-6 div .not-selected > span:first-of-type:hover {
        color: #6c98e1; }
  .search-inventory .col-md-6 div .not-selected:last-of-type,
  .search-options .col-md-6 div .not-selected:last-of-type {
    padding-bottom: 0.5rem; }
  .search-inventory .col-md-6 div .title,
  .search-inventory .col-md-6 div .not-selected,
  .search-inventory .col-md-6 div .selected,
  .search-options .col-md-6 div .title,
  .search-options .col-md-6 div .not-selected,
  .search-options .col-md-6 div .selected {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .search-inventory .col-md-6 div .options,
  .search-options .col-md-6 div .options {
    position: relative; }
    .search-inventory .col-md-6 div .options > div,
    .search-options .col-md-6 div .options > div {
      background-color: #dfe2e7;
      z-index: 100;
      position: absolute;
      width: 100%; }

.car-listing-vertical::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 1px;
  bottom: 0;
  left: 5%;
  background-color: #ccc; }

.car-listing-vertical a {
  color: black;
  text-decoration: none;
  position: relative; }
  .car-listing-vertical a:hover {
    color: #6c98e1; }
  .car-listing-vertical a h4 {
    text-overflow: ellipsis;
    margin-bottom: 0; }

.car-listing-vertical .price {
  background-color: #6c98e1;
  color: white;
  padding: 0.1rem 0.7rem;
  position: relative;
  display: flex;
  flex-direction: column; }
  .car-listing-vertical .price::before {
    content: '';
    position: absolute;
    width: 1.6rem;
    height: 2.75rem;
    top: 0;
    left: -0.6rem;
    background-color: #6c98e1;
    transform: skew(-25deg, 0deg);
    z-index: -1; }
  .car-listing-vertical .price span:first-child {
    font-size: 0.85rem;
    text-align: right;
    text-decoration: line-through; }
  .car-listing-vertical .price span:last-child {
    margin-top: -0.2rem; }

.car-listing-vertical .car-info .col-md {
  padding: 0; }
  .car-listing-vertical .car-info .col-md .icon-info {
    white-space: nowrap; }
  .car-listing-vertical .car-info .col-md:nth-of-type(-1n+3) > .icon-info {
    width: 85%;
    padding-right: 1rem; }
  .car-listing-vertical .car-info .col-md div span {
    color: gray;
    margin: 0 0.25rem 0 0; }
  .car-listing-vertical .car-info .col-md div:last-of-type {
    margin-top: -0.3rem; }
  .car-listing-vertical .car-info .col-md svg {
    margin: 0 0.25rem 0.25rem 0; }

.car-links {
  text-align: center; }
  .car-links li {
    padding: 0.10rem 0.50rem;
    margin: 0 1rem 1rem 0;
    border: 1px solid #ccc;
    border-radius: 1.2rem; }
    .car-links li span {
      line-height: 2; }
    .car-links li span {
      color: gray; }
    .car-links li a {
      cursor: pointer;
      display: inline-block;
      padding: 0.25rem; }
      .car-links li a svg {
        margin-bottom: 0.25rem;
        color: #6c98e1; }
  .car-links li:not(:nth-of-type(1)):hover {
    border-color: #6c98e1;
    color: #6c98e1; }

.bg-light-blue {
  background-color: #6c98e1;
  color: white; }
  .bg-light-blue:hover {
    color: white !important; }
  .bg-light-blue svg {
    color: white !important; }

.render-nav-links nav {
  width: 100%; }

.render-nav-links .pagination {
  display: flex;
  justify-content: center;
  align-items: center; }
  .render-nav-links .pagination > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; }
  .render-nav-links .pagination div {
    width: 100%; }
    .render-nav-links .pagination div:nth-of-type(1) > button:nth-of-type(n+2) {
      margin-left: 0.5rem; }

.individual-car-page .col img {
  cursor: pointer; }

.individual-car-page .side-panel > div:first-of-type {
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.18); }
  .individual-car-page .side-panel > div:first-of-type > div:first-of-type {
    display: flex;
    color: white;
    background-color: #6c98e1;
    justify-content: center; }
    .individual-car-page .side-panel > div:first-of-type > div:first-of-type span:first-child {
      align-self: center;
      font-size: 0.90rem;
      margin-right: 0.5rem; }
    .individual-car-page .side-panel > div:first-of-type > div:first-of-type span:last-child {
      font-size: 1.5rem; }

.individual-car-page .side-panel > div > div:nth-of-type(2) {
  color: white;
  font-size: 0.90rem; }

.individual-car-page .side-panel table {
  font-size: 0.85rem;
  background-color: #f8f9fa; }
  .individual-car-page .side-panel table tr td:first-of-type {
    color: gray; }
  .individual-car-page .side-panel table tr td:last-of-type {
    text-transform: uppercase; }
  .individual-car-page .side-panel table td {
    border-top: none !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.individual-car-page .side-panel .gas > div:nth-of-type(2) {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 3.5rem !important;
  width: 3.5rem;
  background-color: #cc601a; }
  .individual-car-page .side-panel .gas > div:nth-of-type(2) svg {
    height: 2.5rem !important;
    width: 2.5rem; }

.individual-car-page .side-panel .gas > div:first-of-type,
.individual-car-page .side-panel .gas > div:last-of-type {
  align-self: center; }
  .individual-car-page .side-panel .gas > div:first-of-type > span:first-of-type,
  .individual-car-page .side-panel .gas > div:last-of-type > span:first-of-type {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem; }
  .individual-car-page .side-panel .gas > div:first-of-type > span:last-of-type,
  .individual-car-page .side-panel .gas > div:last-of-type > span:last-of-type {
    font-size: 0.8rem; }
  .individual-car-page .side-panel .gas > div:first-of-type span,
  .individual-car-page .side-panel .gas > div:last-of-type span {
    display: block; }

.individual-car-page .side-panel .gas,
.individual-car-page .side-panel .calculator {
  padding: 1rem 0.90rem;
  border: 3px solid #f8f9fa; }

.individual-car-page .side-panel .calculator h5 {
  font-weight: normal; }

.individual-car-page .side-panel .calculator label {
  color: gray; }

.individual-car-page .side-panel .calculator svg {
  height: 2rem !important;
  width: 2rem;
  color: #cc601a;
  margin: 0.20rem 0.50rem 0; }

.individual-car-page .side-panel .calculator .result::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -0.5rem;
  left: 1.5rem;
  display: block;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #6c98e1; }

.individual-car-page .side-panel .calculator .result span {
  font-size: 0.90rem; }

.individual-car-page .features-tab svg {
  color: #cc601a;
  margin: 0 0.5rem 0.3rem 0; }

.individual-car-page .features-tab .contact-form h4 {
  margin-bottom: 1rem; }

.individual-car-page .features-tab .contact-form p {
  margin-bottom: 0.35rem;
  padding-top: 0.30rem;
  font-weight: lighter; }
  .individual-car-page .features-tab .contact-form p span {
    color: gray; }

.individual-car-page .features-tab .contact-form form label {
  margin: 0;
  color: gray;
  font-weight: lighter; }

.bread {
  border-bottom: 1px solid #ccc; }
  .bread li a {
    color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-size: 0.8rem;
    text-decoration: none; }

.individual-car-page .features-tab svg,
.compare svg {
  color: #cc601a;
  margin: 0 0.25rem 0.25rem 0; }

input:focus {
  background-color: white !important; }

.search-inventory h2 > svg {
  margin: 0 0.50rem 0.30rem 0; }

.search-inventory .call-banner {
  margin: 0 0.05rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0.45rem;
  color: white;
  background-color: #fab637;
  font-size: 2rem; }
  .search-inventory .call-banner svg {
    margin-bottom: 0.30rem; }

.navigation .address {
  font-weight: lighter; }
  .navigation .address svg {
    vertical-align: 0 !important; }

.navigation .phone {
  font-weight: lighter; }

.navigation ul {
  margin: 0; }

.navigation ul:last-of-type svg,
.navigation ul:last-of-type a span {
  color: rgba(0, 0, 0, 0.5); }

.navigation ul:last-of-type a:hover {
  background-color: white; }

.navigation ul:last-of-type .active {
  color: rgba(0, 0, 0, 0.5) !important;
  background-color: #f8f9fa; }
  .navigation ul:last-of-type .active svg {
    color: rgba(0, 0, 0, 0.5); }

.navigation .counter {
  height: 1.3rem !important;
  width: 1.3rem;
  background-color: #6c98e1;
  line-height: 1.3;
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  border-radius: 50%; }

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: auto;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.8); }
  .modal .test-drive {
    background-color: white; }
    .modal .test-drive h5,
    .modal .test-drive p {
      margin: 0; }
    .modal .test-drive label {
      margin: 0; }

.compare td:first-of-type {
  color: gray; }

.compare td {
  font-size: 0.80rem;
  padding: 0.65rem 0; }
  .compare td:empty:after {
    content: "\00a0"; }

.inventory .snack-bar,
.individual-car-page .snack-bar {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 15rem;
  font-size: 0.9rem;
  color: white;
  padding: 1rem;
  position: fixed;
  bottom: 1rem;
  left: 45%;
  z-index: 2000;
  visibility: hidden; }
  .inventory .snack-bar.show,
  .individual-car-page .snack-bar.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 1.5s; }

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0; }
  to {
    bottom: 1rem;
    opacity: 1; } }

@keyframes fadeout {
  from {
    bottom: 1rem;
    opacity: 1; }
  to {
    bottom: 0;
    opacity: 0; } }

.trade-in .num {
  height: 2rem !important;
  width: 2rem;
  line-height: 1.5;
  border: 0.2rem solid #cc601a;
  color: #cc601a; }

.font-90 {
  font-size: 0.90rem; }

.bg-prime {
  background-color: #cc601a; }

.pointer {
  cursor: pointer; }

.border-bottom-5 {
  border-bottom: 0.5rem solid #ccc; }

.border-prime {
  border-color: #cc601a; }

.separator .first,
.separator .second {
  display: inline-block;
  background-color: #cc601a;
  transform: skew(-50deg, 0deg);
  border-radius: 2px; }

.separator .first {
  height: 0.4rem !important;
  width: 3rem; }

.separator .second {
  height: 0.4rem !important;
  width: 1.5rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.btn-primary {
  background-color: #6c98e1;
  border-color: #6c98e1; }

button:focus {
  box-shadow: none !important; }

a:hover {
  text-decoration: none; }

a {
  color: black;
  white-space: nowrap; }

.bg-grey {
  background-color: #e0e2e8; }

.wrapper {
  height: 100vh !important; }

.loader {
  border: 15px solid #f3f3f3;
  border-radius: 50%;
  border-top: 15px solid black;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 750ms linear infinite;
  /* Safari */
  animation: spin 750ms linear infinite; }

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
